.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.box {
  display: flex;
  height: 200px;
  width: 400px;
  background-color: purple;
  color: white; 
  font-weight: 900;
  justify-content: center;
  align-items: center;
  font-size: larger;
  background: linear-gradient(to right, #9455ee, #c45efa);
}
#hrs,
#min,
#sec {
  margin: 0 10px;
  background-color: white;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
  font: 20px;
  font: 16px;
  color: black;
  width: 20px;
  height: 20px;
}
button{
  margin-top: 20px;
}